.palace-hero-padding {
  padding-top: 16rem !important;
  padding-bottom: 16rem !important;
}

.palace-section-padding {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}

.palace-container-padding {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}